{% extends "layout.html" %}

{% block body %}

  <h1>Login</h1>
    <form action="/" method="post">
      {{ form.hidden_tag() }}
      <div>{{ form.username.label() }}: {{ form.username() }}</div><br>
      <div>{{ form.password.label() }}: {{ form.password() }}</div><br>
      <div>{{ form.submit_login() }}</div>
    </form>
    <form action="/" method="post">
      <button type="submit" value="register" name="submit_button">Criar conta</button>
    </form>
    <p> 
      {% with messages = get_flashed_messages() %} 
        {% if messages %}
          {{ messages[0] }}
        {% endif %}
      {% endwith %}
    </p>

{% endblock %}
