{% extends "layout.html" %}

{% block body %}


      {% for i in keys %}
  {% for dicionario in lista %}
      <h1>
        <form action="/root" method="post">
          <label for="elemento_title">{{ i }}</input>
          <input type="text" name="arg1" autocomplete="off">
          <input type="text" name="arg2" autocomplete="off">
          <button type="submit" name="submit_button" value="adicionar_{{ i }}">Adicionar {{ i }}</button>
          <button type="submit" name="submit_button" value="deletar_{{ i }}">Deletar {{ i }}</button>
        </form><br><br>
        {{ dicionario['user'] }}
      </h1>
      {% endfor %}
    {% endfor %}

{% endblock %}
